alias shdwn='sudo shutdown -P 00'  \
    binview='vim -R -b'            \
    mv='mv -i -v'                  \
    rm='rm -i -v'                  \
    mkdir='mkdir -p'               \
    ls='ls --color=auto -h'        \
    tar='tar cvf'                  \
    ztar='tar zcvf'                \
    untar='tar xvf'                \
    zuntar='tar zxvf'              \
